html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


.paper {
	width: 100%;
	height: 100%;
}

.maze {
	opacity: 0.5;
}

.wall {
	stroke: #000000;
}

.handle:hover, .wall:hover {
	stroke: #FF0000;
}